<% if user_signed_in? %>
<%= render 'layouts/entities' %>
<div class="d-flex justify-content-center">
    <h4>Most Recent</h4>
</div>
<div class="d-flex justify-content-end">
    <h4>Total Amount: <%= @total_amount%></h4>
</div>



   <% if @entities.count > 0 %>
   <% @entities.each do |entity| %>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><%= entity.name%></h5>
        <p class="card-text d-flex justify-content-end "> $<%=entity.amount%></p>
    </div>
</div>
<% end %>
<% else %>
<p class="text-light">No Transactions</p>
<% end %>
<% end %>
<div>
    <%= link_to 'Add a Transaction', new_group_entity_path, class: "btn btn-secondary" %>
</div>