<h2>Transaction Form</h2>

<div class="w-full max-w-md">
  <h3 class="h3">Add a Transaction</h3>
  <%= form_with  url:group_entities_path(params[:group_id]), model: @entitiy, class: "form", scope: :entities do |f| %>

    <div class="mb-3">
    <%= f.label :Name, class: "form-label" %>
    <%= f.text_field :name, placeholder: "Add a Name", required: true, class: "form-control" %>
    </div>

    <div class="mb-3">
    <%= f.label :amount, class: "form-label" %>
    <%= f.number_field :amount, placeholder: "Enter the amount here", required: true, class: "form-control" %>
    </div>

    <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
    
    </div>